body {
    background-image: url(assets/img/bg.jpg);
    background-repeat: repeat-x;
    height: 100vh;
    width: 400px;
    display: flex;
    margin: 0 auto;
    align-content: center;
    justify-content: center;
    background-color: #00448F;
    
}
p{
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: -50px;
    margin-left: auto;
    margin-right: auto;
}

.top {
    justify-content: center;
    align-content: center;
    width: 500px;
    height: 100vh;
    position: absolute;
    z-index: 0;
}

#flag {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: -150px;
}

#title {
    margin-top: -200px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: block;
}

#ucapan {
    width: 400px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#coverimg {
    width: 400px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 10%;
    z-index: 1;
}

#illustration1 {
    width: 200px;
    position: absolute;
    z-index: 2;
    right: 0;
    margin-right: 20px;
    bottom: 0;
}

.cover {
    width: 100%;
    height: 320px;
    align-items: center;
    justify-content: center;
    position: relative;

}

#trumpet-left {
    width: 150px;
    position: relative;
    margin-top: -150px;
    transform: translateY(-900px);
    z-index: 3;
}

#trumpet-left1 {
    width: 150px;
    position: relative;
    margin-top: -100px;
    z-index: 3;
}



#trumpet-right {
    transform: scaleX(-1);
    width: 150px;
    position: relative;
    margin-top: -100px;
    z-index: 3;
}

.trumpet {
    display: flex;
    justify-content: space-between;
}


.trumpet-right {
    display: flex;
    justify-content: space-between;
    margin-top: -120px;
    float: right;
}


.trumpet-right2 {
    display: flex;
    justify-content: space-between;
    margin-top: -0px;
    transform: translateY(150px);
    float: right;
}


.trumpet-right3 {
    display: flex;
    justify-content: space-between;
    transform: translateY(500px);
    float: right;
}
#title-2023{
    width: 80px;
    margin-left: 20px;
}

.photo-1{
    width: 100%;
    height: 88vh;
}

.photo-1 img{
    width: 200px;
    display: block;
    position: absolute;
}

.photo-1 img:hover:not(#line_1):not(#line_2):not(#line_3):not(#line_8){
    transform: scale(2);
    transition: transform 0.5s;
}

.photo-2{
    margin-top: -100px;
    width: 100%;
    height: 88vh;
}

.photo-2 img{
    width: 200px;
    display: block;
    position: absolute;
}

.photo-2 img:hover:not(#line_4):not(#line_5):not(#line_6):not(#line_7){
    transform: scale(2);
    transition: transform 0.5s;
}
#image_1{
    right: 0;
    margin-right: 50px;
}

#image_2{
    margin-top: 100px;
    margin-left: 50px;
    left: 0;
}
#image_3{
    margin-right: 50px;
    margin-top: 200px;
    right: 0;
}

#image_4{
    margin-top: 350px;
    margin-left: 50px;
    left: 0;
}


#image_5{
    right: 0;
    margin-right: 50px;
    margin-top: -100px;
}

#image_6{
    margin-top: 100px;
    margin-left: 50px;
    left: 0;
    width: 150px;
}
#image_7{
    margin-right: 50px;
    margin-top: 200px;
    right: 0;
}

#image_8{
    margin-top: 320px;
    margin-left: 50px;
    left: 0;
    width: 150px;
}


#image_9{
    margin-top: 400px;
    margin-right: 50px;
    right: 0;
    width: 150px;
}



#line_1{
    display: block;
    position: absolute;
    transform: translate(110px, 70px); 
    width: 150px;
}


#line_2{
    display: block;
    position: absolute;
    transform: translate(110px, 250px)scaleY(-1); 
    width: 150px;
}


#line_3{
    display: block;
    position: absolute;
    transform: translate(250px, 350px)scaleX(-1)scaleY(-1); 
    width: 150px;
}

#line_4{
    display: block;
    position: absolute;
    transform: translate(150px, 40px)scaleX(-1)rotate(45deg); 
    width: 150px;
}

#line_5{
    display: block;
    position: absolute;
    transform: translate(180px, 180px)scaleX(-1)rotate(0deg); 
    width: 150px;
}


#line_6{
    display: block;
    position: absolute;
    transform: translate(180px, 300px)scaleX(-1)rotate(45deg); 
    width: 150px;
}

#line_7{
    display: block;
    position: absolute;
    transform: translate(180px, 370px)scaleX(-1)rotate(0); 
    width: 150px;
}

#line_8{
    display: block;
    position: absolute;
    transform: translate(180px, 450px)scaleX(-1)rotate(-30deg); 
    width: 150px;
}


#illustration2{
    width: 300px;
    position: relative;
    display: block;
    margin-top: -200px;
}
